 h1 {
  font-size:50px;
  margin: auto;
  text-align: center;
}

body {
  background-color:#fff;
  color:#fff;
}

 nav ul {
  list-style: none;
  display: flex;
  gap: 150px;
  background-color: #000;
  padding: 10px;
}
nav ul li a { 
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover {
  text-decoration: underline;
} */

h2 {
  font-size: 50px;
  margin: auto;
  text-align: center;
}
p {
    color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bolder;
}

.container-grid {
    display: grid;
    grid-template-columns:250px 250px 250px;
    align-items: end;
    justify-items: center;
    align-items: end;
    justify-content: center;
    gap:15px;
    padding: 20px;
}
.gallery-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius:8px;
    box-shadow:0 4px 8px rgb(0,0,0.2) ;
    transition:transform 0.3s ease ;
}

.gallery-item img:hover {
    transform:scale(1.05);
}
.gallery-item{
    margin-top:10px;
    font-weight:bold;
    color:#ffe;
}

h2{
 margin: 10px 0 5px;
 font-size: 18px;
 color: #333;

     
}

ul{
    list-style-type: none;
    padding: 0;
    margin:20px 0;
}
ul{
    background-color: #f0f0f0;
    margin-bottom:10px;
    padding: 12px 15px;
    border-left:4px solid ;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    color:#333
}
.homepage {
  background-image: url('images/item7.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body.container-page{
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding:20px;
}
.form-container{
  background: #ffe;
  padding:30px;
  max-width: 400px;
  margin:auto ;
  box-shadow:0 0 10px rgb(0,0,0.1);
  border-radius:8px ;
}
.form-container h2{
  text-align: center;
  margin-bottom:20px ;
} 

input[type="text"],
input[type="email"],
input[type="password"]{
width:100%;
padding:10px;
margin:10px 0 20px;
border:1px solid #ccc;
border-radius:5px;
}  
button{
  width:100%;
  padding: 10px;
  background:yellowgreen;
  border:none;
  color:#333;
  border-radius:5px;
  cursor:pointer;
  font-size:16px;
}

button:hover{
  background:papayawhip ;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding:20px ;
}
.card{
  border:1px solid #ddd ;
  border-radius: 10px;
  padding:15px ;
  text-align: center;
  background-color:#fff;
  box-shadow:2px 2px 8px rgb(0,0,0,0.1) ;
}
.card img {
  width: 100%;
  height:auto ;
  border-radius:10px ;
}
.card h3 {
  margin:10px 0 5px ;
}
.card p {
  font-weight: bold;
  color:green;
}